__pycache__/
*.py[cod]
*.pyc
*.pyo
.ipynb_checkpoints
venv/
.env
.idea/
.vscode/
data/pcap/*.pcap
data/processed/*.csv
data/processed/*.parquet
data/models/*.pkl
data/multiclass_dataset_merged.csv
data/multiclass_dataset.parquet
data/*.csv
!data/.gitkeep
*.log
logs/*.log
!logs/.gitkeep
.DS_Store
Thumbs.db
**/.ipynb_checkpoints/
